{% extends "template.html" %}
    {% block contenido %}
      <div class="container">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <p class="naranja">Librería que se fundó aproximadamente hacia el año 1903.
             Bisabuelos, abuelos y padres de los que siempre aprendimos y
              aprendemos, actualmente somos la 4ª generación que está al frente del negocio,
               y esperamos no ser la última. Siempre intentamos dar un cálido y personalizado
                trato a todos nuestros clientes y amigos, y poder ofrecerles siempre las últimas
                 novedades en libros y papelería. Seguir con nuestra librería y adaptarnos a las nuevas
                  tecnologías es ahora mismo una de nuestras asignaturas más importantes.
                   Desde aquí intentaremos seguir dando, como siempre, un excepcional servicio.
                    Gracias a tod@s. Cualquier consulta durante estos días de confinamiento:
                     pedidos@libreriamoderna.es ó 600 256 233.</p>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>  
      {% endblock %} 